$primary-color-background-body: rgb(247, 205, 117);
$primary-color-left-box: #f2f2f2;
$primary-color-text: rgb(117, 129, 140);
$primary-color-cards-back: #fff;
$primary-color-hover-cards: rgb(135, 147, 198);
$primary-color-header-right: #000;
$primary-color-border-b: #dedede;
$primary-color-price: rgb(135, 151, 198);
$primary-color-funds-price: rgb(138, 206, 94);
